div.ab-bkimg
    .container
        .jumbotron
            h1 About SFNode Club
            h2 We are a group of passionate developers like you. 
            p During our busy schedules, we try to get some time out so that we can keep our tech skills up to date and meet cool people at the same time. It's fun to be meeting great people like you.
            p.btn-p 
                a(class="btn btn-primary btn-lg" href="#divAbout") Learn More

div#divAbout.about-dets
    .container
        h1 Here's what we do
        .row
            .col-sm-12
                pre.random-text {{contentVal}}