.navbar 
    padding-bottom: 20px
    p
        font-size: 14px
        margin-top: 0px
        
.navbar-brand 
    font-size: 34px

.content 
    margin-top: 70px

footer
    margin-top: 50px
    border-top: 1px solid #f0f0f0

.lp-bkimg
    background-image: url(/images/sfggb.jpg)
    
.ab-bkimg 
    background-image: url(/images/office.jpg)

.lp-bkimg, .ab-bkimg 
    background-size: cover
    .container
        color: #000
        .jumbotron
            opacity: 0.7

.ab-bkimg 
    .container
        .jumbotron
            background-color: transparent
            color: #fff
            opacity: 1.0
            
.btn-p
    margin-top: 80px

.event-dets, .about-dets
    padding: 60px 0 20px;
    .panel-heading
        background-color: #637884
        border-color: #637880

.random-text 
    word-wrap: break-word
    white-space: pre-wrap
    background-color: transparent
    border: none
    padding: 0
            
@media screen and (max-width: 600px) 
    .navbar 
        p
            font-size: 10px
    
    .navbar-brand 
        font-size: 24px